<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.offistellink.file.model.mapper.FileMapper">

    <resultMap id="files" type="FileDto">
        <id column="id" property="id"/>
        <result column="origin_name" property="originName"/>
        <result column="saved_name" property="savedName"/>
        <result column="path" property="path"/>
        <result column="notice_id" property="noticeId"/>
    </resultMap>

    <delete id="deleteFile" parameterType="int">
        DELETE FROM files WHERE id = #{id}
    </delete>
</mapper>