<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.offistellink.notice.model.mapper.NoticeMapper">

    <resultMap id="notices" type="NoticeDto">
        <result column="id" property="id"/>
        <result column="user_email" property="userEmail"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="views" property="views"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <!-- 개별 공지사항 조회 -->
    <select id="getNoticeById" resultMap="notices">
        Select *
        from notices
        where id = #{id}
    </select>

    <!-- 공지사항 조회 -->
    <select id="getAllNotices" resultMap="notices">
        SELECT *
        FROM notices;
    </select>

    <insert id="insertNotice" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO notices (title, content, views, created_at, updated_at, user_email)
        VALUES (#{title}, #{content}, 0, now(), now(), #{userEmail})
    </insert>

    <update id="updateNotice">
        UPDATE notices
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteNotice">
        DELETE FROM notices WHERE id = #{id}
    </delete>

    <!-- 조회수 증가 -->
    <update id="incrementView" parameterType="int">
        UPDATE notices
        SET views = views + 1
        WHERE id = #{id}
    </update>

</mapper>
