<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.offistellink.transaction.model.mapper.TransactionMapper">

    <!-- 거래내역 전체 조회  -->
    <resultMap id="transactions" type="TransactionDto">
        <result column="id" property="id"/>
        <result column="sigungu" property="sigungu"/>
        <result column="dangi_name" property="dangiName"/>
        <result column="area" property="area"/>
        <result column="contract_date" property="contractDate"/>
        <result column="deal" property="deal"/>
        <result column="floor" property="floor"/>
        <result column="road_name" property="roadName"/>
        <result column="latitude" property="latitude"/>
        <result column="longitude" property="longitude"/>
    </resultMap>


    <!-- 거래 내역 전체 조회 -->
    <select id="getAllTransactions" resultMap="transactions">
        SELECT * FROM transactions;
    </select>

    <!-- 구, 동, 도로명에 따른 조건 조회 -->
    <resultMap id="search" type="TransactionSearchDto">
        <result column="gu" property="gu"/>
        <result column="dong" property="dong"/>
        <result column="road_name" property="roadName"/>
    </resultMap>

    <!-- 구, 동, 도로명에 따른 조건 조회 -->
    <select id="getTransactionByConditions" parameterType="TransactionSearchDto" resultMap="search">
        select SUBSTRING_INDEX(SUBSTRING_INDEX(sigungu, ' ', 2), ' ', -1) AS gu,
               SUBSTRING_INDEX(sigungu, ' ', -1) AS dong,
               road_name
        from transactions
        WHERE
            substring_index(substring_index(sigungu, ' ', 2), ' ', -1) = #{gu}
              AND substring_index(sigungu, ' ', -1) = #{dong}
              AND road_name LIKE concat('%', #{roadName}, '%');
    </select>

    <!-- 월별 시세 조회 -->
    <resultMap id="price" type="TransactionTrendDto">
        <result column="contract_date" property="contractDate"/>
        <result column="avg_deal" property="avgDeal"/>
    </resultMap>

    <!-- 월별 시세 조회(date, deal) -->
    <select id="getMonthMarketTrend" resultMap="price">
        select contract_date, avg(deal) as avg_deal
        from transactions
        group by contract_date
        order by contract_date;
    </select>

</mapper>
